body{
    background-color: gray;
    text-align: center;
    border: 15px double black;
    padding: 150px;
    font-size: 30px;
    font-family: cursive;
}
button{
    width:150px;
    height:40px;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
}