body{
    text-align: center;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-guild-wars-world-cup-soccer-background-template-image_192600.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size:30px;
    padding:150px;
}